.jobCard{
    background-color: #d5f5e3;
    padding: 7px;
    border-radius: 6px;
    padding:20px;
    margin-top: 2rem;
}

.profilePhoto {
    margin: auto;
    margin-right: 0;
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    padding: 0px;
}

