
.text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
 }

 .hov {
    &:hover{
        color: #306d1f;
        font-weight: bold;
      }
    &:active{
        color: #306d1f;
        font-weight: bold;
    }
}

.active{
    font-weight: bold;
    background-color: #f2f4f4;
    padding: 5px;
    border-radius: 8px;
}

.jobCard{
    background-color: #d5f5e3;
    padding: 7px;
    border-radius: 6px;
}

.paginationButton{
    color: #306d1f;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}