
.toast{
    display: flex;
    align-items: center;
    animation: start 0.5s forwards;
    position:  fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 1rem;
    z-index: 5;
    height: 50px;
    width: fit-content;
    padding: .6rem 1rem;
    transition: 10s;
    border: .5px solid gainsboro;
    border-radius: 10px 0 0 10px;
    outline: .5px solid transparent;

    &.Good{
        outline: 1.5px solid greenyellow;
    }

    &.Bad{
        outline: 1.5px solid orangered;
    }
}

@keyframes start{
    from{
        right: -100%;
    }

    to{
        right: 0%;
    }
}