
.profilePhoto {
    margin: auto;
    margin-right: 0;
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    padding: 0px;
  }

.jobRequirementCard{
    margin-bottom:1rem;
    border-radius:6px;
    padding:1rem;
}

