
.text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
    margin: 1rem;
 }

 .hov {
    &:hover{
        background-color: bisque;
        cursor: pointer;
      }
}

.jobCard{
    background-color: #d5f5e3;
    padding: 7px;
    border-radius: 6px;
    padding:20px;
    margin-top: 2rem;
}

.profilePhoto {
    margin: auto;
    margin-right: 0;
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    padding: 0px;
  }

  @media (max-width: 575.98px) { /* Bootstrap sm comienza en 576px, así que usamos 575.98px */
    .profilePhoto {
        display: none;
    }
}

.jobDetail{
    padding:0;
    display:flex;
    gap:8px;
    height:50px;
    align-items:center
}

.jobDetailText{
    font-size:1.2rem;
    margin:0;

}


.disbilityCard{
    width: 196px;
    border-radius: 6px;
    padding: 12px;
    margin-right:5px;
    margin-bottom: 1rem;
}

.jobRequirementCard{
    margin-bottom:1rem;
    background-color:#f4f6f6;
    border-radius:6px;
    padding:1rem;
}

.companyLogo {
    margin: auto;
    display: inline-block;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    padding: 0;
}

.hovA {
    &:hover{
        color: #306d1f;
        font-weight: bold;
      }
    &:active{
        color: #306d1f;
        font-weight: bold;
    }
}

.activeA{
    font-weight: bold;
    background-color: #f2f4f4;
    padding: 5px;
    border-radius: 8px;
}

.helpContainer{
    display:flex;
    flex-direction:column;
    text-align:center; 
    justify-content:center;
    align-items:center;
    min-height:85vh;
    overflow:hidden; 
    margin-bottom:20px; 
    padding:1rem;
}