
.operatorCard{
    background-color: #d6eaf8;
    padding: 7px;
    border-radius: 6px;
}


.paginationButton{
    color: #306d1f;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}