.profilePhoto {
    margin: auto;
    display: inline-block;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    padding: 0;
  }

.stateDisplay{
  background-color: gainsboro;
  padding: 5px;
  border-radius: 6px;
}

.jobDisplay{
  background-color: #71de85;
  padding: 7px;
  border-radius: 6px;
}

.studyCard{
  background-color: #71de85;
  padding: 7px;
  border-radius: 6px;
}