.profilePhoto {
    margin: auto;
    display: inline-block;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    padding: 0;
  }

.stateDisplay{
  background-color: #eaeded;
  padding: 5px;
  margin-bottom: 8px;
  border-radius: 6px;
  font-size: 1.25rem;
  font-weight: bold;
}

.jobDisplay{
  background-color: #abebc6;
  padding: 7px;
  border-radius: 6px;
  margin-bottom: 8px;
  font-size: 1.25rem;
  font-weight: bold;
}

.infoDisplay{
  margin-bottom: 4px;
  font-size: 1.25rem;
  font-weight: 500;
}

.studyCard{
  background-color: #abebc6;
  padding: 7px;
  border-radius: 6px;
}

.workExpCard{
  background-color: #fdebd0;
  padding: 7px;
  border-radius: 6px;
}

.skillCard{
  background-color: #aed6f1;
  padding: 10px;
  border-radius: 6px;
}

.certificationCard{
  background-color: #fcf3cf;
  padding: 10px;
  border-radius: 6px;
}

.languageCard{
  background-color: #fce4ec;
  padding: 10px;
  border-radius: 6px;
}